body {
  background: #b5ffe8 !important;
}

.p-24 {
  padding: 2.4rem !important;
  width: 100%;
}

.card-bg-white {
  background: white;
}

.color-white {
  color: white;
}

.marginTop0 {
  margin-top: 0;
}

.search {
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 300px;
  margin-right: 24px;
  padding: 0 16px;
}

.table-list {
  max-height: 450px;
  overflow-y: scroll;
}

.align-text-right {
  text-align: right;
}

.sort-icon {
  width: 16px;
  height: 16px;
}

.btn-table {
  background-color: transparent !important;
  border: transparent !important;
}
